<footer>
<div class='mobile-footer'>&copy; Copyright Verge PDX 2017</div>
<div class="footer">
    <div class="row">
      	<div class="left col-sm-4 col-md-4">
          <ul>
            <li><a href="/calendar">Calendar</a></li>
            <li><a href="/about">About VergePDX</a></li>
            <li><a href="/blog">Blog</a></li>
          </ul>

        </div>
        <div class="col-sm-4 col-md-4">
           <ul class="social">
              <li><a href="http://instagram.com/vergepdx" target="_blank"><i class="fa fa-instagram"></i></a></li>
              <li><a href="https://www.facebook.com/vergepdx/" target="_blank"><i class="fa fa-facebook"></i></a></li>
              <li><a href="http://twitter.com/vergepdx" target="_blank"><i class="fa fa-twitter"></i></a></li>
            </ul>
        </div>
        <div class="col-sm-4 col-md-4">

    			<p>&copy; Copyright Verge PDX 2018<br>
          Site maintained by <a href="http://portfolio.alannarisse.com" target="_blank">Alanna Risse</a>
    			</p>
      	</div>

    </div>
</div>

</footer>
{{yield}}
