<footer>
	<p>&copy; Copyright Verge PDX 2017</p>
	<p>This site was designed and developed by <a href="http://alannarisse.com/webdev" target="_blank">Alanna Risse</a> using Ember.js and Ember-bootstrap.</p>
</footer>
{{yield}}
