<footer>

<div class="footer">
    <div class="row">
      	<div class="left col-sm-6 col-md-6">
			<p>&copy; Copyright Verge PDX 2017</p>
      	</div>
      	<div class="col-sm-6 col-md-6">
  			<p>This site was designed and developed in <br>
			<a href="http://emberjs.com/" target="_blank">Ember.js</a> and Bootstrap by:<br>
			<a href="http://alannarisse.com/webdev" target="_blank">Alanna Risse</a></p>
			<p><a href="https://www.linkedin.com/in/alanna-risse-portland" target="_blank"><i class="fa fa-linkedin" style="font-size:24px"></i></a>&nbsp;<a href="http://github.com/alannarisse" target="_blank"><i class="fa fa-github" style="font-size:24px"></i></a></p>
      	</div>

    </div>
</div>



</footer>
{{yield}}
