<div>
	<a class="test-popup-link" href="assets/images/kruse/bikes1024.jpg">Open popup</a>

	<a href="assets/images/kruse/bikes1024.jpg" class="lightbox"><img src="assets/images/kruse/bikes1024.jpg" class=""></a> 
</div>


{{yield}}
