/* NAVBAR */
/* bootstrap overrides */

.navbar-default .navbar-nav > li > a:hover {color:#990000;}



header h1 {color:#990000;}
.artist-thumbs h3 {font-size:18px;}
a, a:active, h3 a, article a, p a, div a {color:#990000;}
a:hover, div a:hover { color:#600000; text-decoration:none;}

/* Magnific Popup */
.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}


.artist-thumbs img {padding:40px 0 0 0;}


/* Universal Header and Footer */

header {padding-left:25px;}

footer {
	padding:40px 20px 20px 20px;
	width:100%;
	background-color:#e7e7e7;
	margin-top:40px;
  text-align:right;
}
