<div class="artist-page">
	<h2>Jason Berlin</h2>
	<p>{{#link-to 'venues'}}Red Fox{{/link-to}}<br>
	March 2017
	</p>
	<p>{{#link-to 'venues'}}Flickerbox, Inc., PDX{{/link-to}}<br>
	August, 2016
	</p>

	<img src="/assets/images/berlin/zags1024.jpg">

	<h3>Biograhy</h3>

	<p>Jason Berlin received his BFA from Oregon Collage of Art and Craft and his MFA in Visual Studies at Hallie Ford School of Graduate Studies at Pacific Northwest College of Art. (Portland OR ) Berlin works  in the medium of oil painting, sculpture, installation, college, and curation. In 2016 Berlin started Stall Gallery as a curatorial project and in 2016 was awarded six month artist in residency at Rainmaker artist residency in Portland, Oregon. Berlin’s work has been exhibited in numerous art shows in the Pacific Northwest, and in group exhibitions in New York, France, and Vancouver BC. Berlin splits his time between the rural country side of Longview Washington ( his home town ) and urban life where he lives in Portland Oregon.</p>


	<p>Website: <a href="http://jasonberlinthomas.com">Jason Berlin</a></p>

</div>
{{artist-page-nav}}

{{outlet}}
