<div class="artist-page">
	<h2>A•C•M Lorish</h2>
	<p>{{#link-to 'venues'}}Flickerbox, Inc., PDX{{/link-to}}<br>
	January 2017<br>
	321 SW 4th, Suite 501, Portland OR</p>
	<img src="/assets/images/lorish/despair1024.jpg">

	<h3>Solfatara: Paintings Celebrating Demons and Other Things</h3>

	<blockquote>The demonic life of a lover is like the surface of a solfatara; huge bubbles (muddy and scorching) burst, one after the other; when one falls back and dies out, returning to the mass, another forms and swells further on.<br><br>-Roland Barthes</blockquote>

	 

	<p>Taken from a short section of Roland Barthes A Lovers Discourse these six paintings celebrate, with glitter puff paint, the demons that hide in the recesses and shadows, always lurking and waiting.  The other paintings are abstracted structures, layered with syncopated marks, meant to create order and calm acting as a way to foil or control the demons. </p>

	<h3>Biography</h3>
	<p>A•C•M• Lorish was born in Eugene, Oregon.  He studied at School of the Art Institute of Chicago, and Pacific Northwest College of Art where in 2013 he received his MFA in Visual Studies.  Selected exhibitions include False Front in Portland, Rockerill in Charleroi Belgium, and dOCUMENTA (13) in Kassel, Germany.  He is a founding member of the art collective Danger Punch.  He lives and works in Portland Oregon.</p>

	<p>Websites: <a href="http://www.acmlorish.com">acmlorish.com</a><br>
	<a href="http://www.dangerpunch.com">Danger Punch Collective</a></p>

</div>
{{artist-page-nav}}

{{outlet}}
