<div class="artist-page">

	<h2>Kanani Miyamoto</h2>
	<p>{{#link-to 'venues'}}Flickerbox, Inc., PDX{{/link-to}}<br>
		May 2017</p>
		<img src="/assets/images/miyamoto/lemelsonwall1024.jpg">
</div>
{{artist-page-nav}}

{{outlet}}
