<div class="artist-page">
	<h2>Rachel Mulder</h2>
	<p>{{#link-to 'venues'}}Flickerbox, Inc., PDX{{/link-to}}<br>
	February 2017<br>
	Opening Reception: February 16th 7-10pm<br>
	321 SW 4th, Suite 501, Portland OR<br>
	Please note, this is a private office space, no drop-ins.<br>
	contact me for viewing appointments</p>

	<img src="/assets/images/mulder/selfportrait1024.jpg">


	<h3>Artist Bio:</h3>
	<p>Rachel Mulder earned her BFA in Printmaking from the Milwaukee Institute of Art &amp; Design and has since adapted those printmaking techniques and processes into other art forms, namely drawing. She has been an art-assistant/direct care worker, helping others make art based on their individual desires as well as in workshop settings, and is currently teaching Experimental Drawing for local nonprofit <a href="http://www.publicannex.org/">Public Annex</a>. She is a Midwestern native and lives and works in Portland, Oregon.</p>


	<p>Website: <a href="https://rachelmulderart.blogspot.com/">rachelmulderart.blogspt.com</a></p>

</div>
{{artist-page-nav}}
{{outlet}}
