<div class="artist-page">

	<h2>Veronica Reeves</h2>
	<p>Bright Spots<br>
	September 2016<br>
	{{#link-to 'venues'}}Flickerbox, Inc.{{/link-to}}, Portland OR</p>

	<img src="/assets/images/reeves/breathingspace1024.jpg">
	
	<h3>Bright Spots</h3>
	<p>An asteroid crash lands on a planet conducive to life. It is carrying proteins, seeds, spores, and data from another world that faced a cataclysmic event. Through layers of masking, spray paint, spills, and hand painting techniques, I visualize places of post-dystopian sanctuary. Pulling from aesthetics of digital games, visionary art, images of outer space, and earth processes, Bright Spots hints at fragments of new life slowly unfolding against the odds. As long as there is RNA, and DNA, it’ll be okay.</p>

	<p>Wesbite: <a href="http://www.v2r2please.com/">http://www.v2r2please.com/</a></p>

</div>
{{artist-page-nav}}

{{outlet}}
