<div class="artist-page">
	<h2>Angela Simione</h2>
	<p>{{#link-to 'venues'}}Flickerbox, Inc., PDX{{/link-to}}<br>
	April 2017
	</p>
	<p>{{#link-to 'venues'}}Red Fox{{/link-to}}<br>
	May 2017
	</p>


	<img src="/assets/images/simione/bed1024.jpg">


	<p>Website: <a href="http://angelasimione.weebly.com/">http://angelasimione.weebly.com</a></p>
</div>
{{artist-page-nav}}

{{outlet}}
