<div class="artist-page">
	<h2>Angela Simione</h2>
	<p>{{#link-to 'venues'}}Flickerbox, Inc., PDX{{/link-to}}<br>
	April 2017
	</p>
	<p>{{#link-to 'venues'}}Red Fox{{/link-to}}<br>
	May 2017
	</p>


	<img src="/assets/images/simione/bed1024.jpg">

	<div class="row auto-clear">
    	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
			<h3>Artist's Statement:</h3>
			<p>Within the trauma of the redacted document, a new context presents itself… a context in which loss, experienced by the Other, may be felt and understood. Using methods of erasure to create my own "redacted" documents, I make metaphors for the experiences of loss. I present fragments, tiny bits of evidence, allusions to a lost history. It is a poetry born of violence, and it is this violence with which my practice is concerned. What remains, in spite of secrecy, is a new document. A new identity has been constructed. A site of new hope emerges where understanding may be possible.</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
			<h3>Bio</h3>
			<p>Angela Simione is a New York painter and writer with a tremendous appreciation for all things black and white. She graduated from California College of the Arts in 2008 with High Distinction in Painting and Drawing.</p>
		</div>
	</div>


	<p>Website: <a href="http://angelasimione.weebly.com/">http://angelasimione.weebly.com</a></p>
</div>
{{artist-page-nav}}

{{outlet}}
