<h2>Previous Exhibitions</h2>
<section class="exhibitions">
    <div class="row auto-clear">
     <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        {{#link-to 'artist.mulder'}}<img src="/assets/images/features/mulder348x220.jpg" alt="Rachel Mulder">{{/link-to}}
        <h2 class="marketing-columns">{{#link-to 'artist.mulder'}}Rachel Mulder{{/link-to}}</h2>
        <p>Rachel Mulder creates images through repetitive mark making. Her show at Flickerbox, Inc., in downtown Portland will be up through the month of February, 2017.</p>
        <p>The opening reception is Thursday, <strong>February 16th 7-10pm</strong>. 321 SW 4th Ave, Suite 501, Portland OR. PLEASE NOTE: this is a private office. if you are unable to attend the reception and would like to see the show, please <a href="mailto:alanna@vergepdx.com">email me</a>.</p>
      </article>
      <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        {{#link-to 'artist.schlunegger'}}<img src="/assets/images/features/schlunegger348x220.jpg" alt="Danielle Schlunegger-Warner">{{/link-to}}
        <h2 class="marketing-columns">{{#link-to 'artist.schlunegger'}}Danielle Schlunegger-Warner{{/link-to}}</h2>
        <p>Danielle Schlunegger creates faux taxidermy animals out of fake fur and old books.</p>
        <p>Schlunegger-Warner is showing a installation of bear heads and cave bobcats at Red Fox Bar in North Portland for the month of Februaru 2017. Schlunegger-Warner's reception is <strong>Sunday Febrtuary 12th</strong>, 7-9pm.</p>
      </article>
    </div>
</section>

      {{outlet}}
