<div class="artist-page">
  <h2>Berlin, Kruse, Reeves, Schneider, Wolf at Akasu Hair Studio and Spa</h2>
  <p>{{#link-to 'venues'}}Akasu Hair Studio and Spa{{/link-to}}<br>
  2037 N. Williams<br>
  Feburary - April 2018</p>


 <p>Artists:</p>
 <ul>
  <li>{{#link-to 'artist.berlin'}}Jason Berlin{{/link-to}}</li>
  <li>{{#link-to 'artist.kruse'}}Brandi Kruse{{/link-to}}</li>
  <li>{{#link-to 'artist.reeves'}}Veronica Reeves{{/link-to}}</li>
  <li>{{#link-to 'artist.schneider'}}Harry Schneider{{/link-to}}</li>
  <li>{{#link-to 'artist.wolf'}}Rachel Wolf{{/link-to}}</li>
</ul>

<h3>About this show</h3>
<p>This is our first exhibition at Akasu Hair Studio and Spa. This beautiful, two-story victorian on N Williams at Tillamook is a fantastic location for showcasing some of Oregon's best emerging artists. We're excited to kick of a series of shows with some Verge alumni, plus the very talented and awesome Rachel Wolf, who is showing with Verge for the first time.</p>



</div>
{{artist-page-nav}}

{{outlet}}
