<h2>About Verge</h2>
<div class="about">
    <div class="row">
      <div class="col-sm-6 col-md-6">
      	<p>Verge is a Portland-based art curation and collaboration service. Let us curate your professional space with monthly or quarterly rotations of professional works from Oregon-based emerging artists.</p>
      </div>
      <div class="col-sm-6 col-md-6">
		<p>We are always on the lookout for more spaces and artists. Contact <a href ="mailto:alanna@vergepdx.com">Alanna</a> if you are a Portland area business looking for rotating art exhibits or if you are an artist interested in participating.</p>
		</div>
	</div>
</div>
<div class="about-social">
	<div class="row">
      <div class="col-sm-4 col-md-4">
      	<i class="fa fa-instagram" style="font-size:48px"></i><br>
      	<a href="instagram.com/vergepdx.com">Instagram: @vergepdx</a>
      </div>
      <div class="col-sm-4 col-md-4">
      	<i class="fa fa-facebook" style="font-size:48px"></i><br>
      	<a href="http://facebook.com/vergepdx">Facebook: VergePDX</a>
      </div>
      <div class="col-sm-4 col-md-4">
      	<i class="fa fa-twitter" style="font-size:48px"></i><br>
      	<a href="http://twitter.com/vergepdx">Twitter: @vergepdx</a>
      </div>
    </div>
</div>


