
<div class="about">
    <div class="row">
      <div class="col-sm-6 col-md-6">
      	<h2>About Verge</h2>
        <p>Verge is a Portland-based art curation and collaboration service. We believe that art should be lived with. We love bringing great emerging artists into non-traditional spaces, especially tech offices.</p>
        <p>We are always on the lookout for more spaces and artists. Let us curate your professional space with monthly or quarterly rotations of professional works from Oregon-based emerging artists. Contact <a href ="mailto:alanna@vergepdx.com?subject=Verge art in my space">Alanna</a> if you are a Portland area business looking for rotating art exhibits or if you are an artist interested in participating.</p>
        <p>Verge was founded in May 2016. We currently urate the walls of <a href="http://flickerbox.com" target="_blank">Flickerbox Inc.</a>, a digital marketing agency in downtown Portland, Oregon, and <a href="http://www.redfoxpdx.com/" target="_blank">The Red Fox</a>, a great neighborhood bar in North Portland, Oregon. Help us expand our reach by providing us more walls. Spread the art love!</p>
      </div>
      <div class="col-sm-6 col-md-6">
    		<h2>About the Curator</h2>
        <p>Hi, I'm <a href="http://alannarisse.com" target="_blank">Alanna Risse</a>. I live in two worlds. I have been both and artist and a web developer for most of my adult life. I've always been curious at the interesection between these two worlds. I've worked at a few tech companies with fantastic contemporary art collections and I love watching self proclaimed non-artists develop relationships with art in their workplace.</p>
        <p>Art galleries and museums can be intimidating for people who don't consider themselves to be "artists." I think office spaces can offer a really rich opportunity to develop a love of art. When you can see the same works of art day after day, you get a much richer experience than if you spend 5 minutes (or less) looking at something in a gallery or museum. For me, this is where artworks can be transformed into something meaningful and powerful. I want to bring great art into spaces where people can experience it.</p>
        <p><em>Education and Experience:</em><br>
        MFA Visual Studies, <a href="http://pnca.edu" target="_blank">PNCA</a>, 2015<br>
        BFA Painting/Drawing, <a href="http://www.cca.edu/" target="_blank">CCA</a> 2008<br>
        <a href="http://alannarisse.com/webdev" target="_blank">Web Developer</a> since 1998</p>
		  </div>
	 </div>
</div>
<div class="about-social">
	<div class="row">
      <div class="col-sm-4 col-md-4">
      	<a href="http://instagram.com/vergepdx" target="_blank"><i class="fa fa-instagram" style="font-size:48px"></i></a><br>
      	<a href="instagram.com/vergepdx.com" target="_blank">Instagram: @vergepdx</a>
      </div>
      <div class="col-sm-4 col-md-4">
      	<a href="http://facebook.com/vergepdx" target="_blank"><i class="fa fa-facebook" style="font-size:48px"></i></a><br>
      	<a href="http://facebook.com/vergepdx" target="_blank">Facebook: VergePDX</a>
      </div>
      <div class="col-sm-4 col-md-4">
      	<a href="http://twitter.com/vergepdx" target="_blank"><i class="fa fa-twitter" style="font-size:48px"></i></a><br>
      	<a href="http://twitter.com/vergepdx" target="_blank">Twitter: @vergepdx</a>
      </div>
    </div>
</div>


