<h2>About Verge</h2>
<div class="about">
    <div class="row">
      <div class="col-sm-4 col-md-4"><img src="assets/images/alanna.jpg"></div>
      <div class="col-sm-8 col-md-8">
      	<p>Verge is a Portland-based art curation and collaboration service. Let us curate your professional space with monthly or quarterly rotations of professional works from Oregon-based emerging artists.</p>

		<p>We are always on the lookout for more spaces and artists. Contact Alanna if you are a Portland area business looking for rotating art exhibits or if you are an artist interested in participating.</p>
		</div>
    </div>
</div>


