{{navigation-list}}
<header style="background-image:url('/assets/images/verge_circles.png');background-repeat: no-repeat;"><h1 class="logo">{{#link-to 'index'}} Verge{{/link-to}}</h1></header>
<!-- <header><h1>{{#link-to 'index'}}<img src="/assets/images/verge_logo_lg02.png" alt="verge">{{/link-to}}</h1></header> -->
<p class="tagline">Art Curation in Portland, Oregon</p>

<div class="container">
	{{outlet}}
</div>
	{{footer-nav}}
<!--  style="background-image:url('/assets/images/verge_circles.png');background-repeat: no-repeat;" -->