{{navigation-list}}
<header><h1>{{#link-to 'index'}}<img src="assets/images/verge_logo80.png">{{/link-to}} {{#link-to 'index'}}Verge PDX{{/link-to}}</h1></header>

<div class="container">
	{{outlet}}
</div>
	{{footer-nav}}
