<h2>Artists</h2>


<div class="artist-thumbs">
  <div class="container">
    <div class="row">

    {{#each model as |artistList|}}

      <div class="col-sm-4 col-md-4">
 		{{artist-list artistList=artistList}}
      </div>
  {{/each}}

    </div>
  </div>
</div>