<h2>Jason Berlin</h2>

<h3>Studio Alms Series</h3>

<p>From Jason: In 2016 upon graduating with my MFA from Pacific Northwest College of Art In Portland OR, I found my self in need of an art studio. I believe artists need a place to create, write, read and experiment. I applied, and received the Rainmaker Artist Residency. Now how do I pay for a studio to create art in when working part time and paying rent on a apartment. Inspired by David Horvitz’s project to pay for his art studio,“The Studio Rent Editions”. I have decided to do the same. I am making an edition of ten artworks a month. These creations can be a painting, or a collage, a watercolor, a small sculpture, a photograph, fiber art, or a page from my journal.</p>

<p>Each piece is signed and comes with a certificate of authenticity that is dated, numbered, signed and has a DNA dot. I call this project “Studio Alms Series.” I am selling these works of art for 1/10th of my studio rent. Selling one will help reduce my rent, and selling all will finance my art studio for the month.</p>

<p>Each object of art is for sale at $20.00</p>

<p>— <a href="http://jasonberlinthomas.com">Jason berlin</a><br>
August, 2016<br>
Portland,Oregon</p>

{{artist-page-nav}}
{{outlet}}
