<h2>Contact</h2>
<p>Interested a viewing appointment? <a href="mailto:alanna@vergepdx.com?subject=Viewing Appointment">Contact me</a> via email.</p>
<p>Would you like Portland to rotate art shows in your Portland business? <a href="mailto:alanna@vergepdx.com?subject=Interested in Verge Curatorial Services">Contact me</a>.</p>
<p>Artists: If you are interested in showing with Verge, please send me a link to your portfolio and a <a href="mailto:alanna@vergepdx.com?subject=artist interested in Verge">brief email</a> describing how you see your work fitting into the Verge catalog.</p>


<p></p>
