<h2>Contact</h2>
<p>Interested a viewing appointment? Contact me via email.</p>
<p>Would you like Portland to rotate art shows in your Portland business? Contact me.</p>
<p>Artists: If you are interested in showing with Verge, please send me a link to your portfolio and a brief email describing how you see your work fitting into the Verge catalog.</p>
<p></p>
