<h2>Current Exhibitions</h2>
<section class="exhibitions">
    <div class="row auto-clear">
      <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="crop">
          {{#link-to 'artist.quiroz'}}<img src="/assets/images/features/quiroz348x220.jpg" alt="Amanda Quiroz">{{/link-to}}
        </div>
        <h2 class="marketing-columns">{{#link-to 'artist.quiroz'}}Amanda Quiroz{{/link-to}}</h2>
        <p>Amanda Quiroz will be showing drawings at Flickerbox, Inc. June-August 2017.</p>
      </article>
      <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="crop">
          {{#link-to 'artist.simione'}}<img src="/assets/images/features/reeves_akemi348x220.jpg" alt="Veronica Reeves">{{/link-to}}
        </div>
        <h2 class="marketing-columns">{{#link-to 'artist.reeves'}}Veronica Reeves{{/link-to}}</h2>
        <p>Veronica Reeves has a solo exhibition of watercolors and paintings Akemi Salon May-August 2017.</p>
      </article>
      <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="crop">{{#link-to 'artist.kress'}}<img src="/assets/images/features/kress348x220.jpg" alt="Angela Simione">{{/link-to}}
        </div>
        <h2 class="marketing-columns">{{#link-to 'artist.kress'}}Kim Kress{{/link-to}}</h2>
        <p>Kim Kress is showing pyrography at {{#link-to 'venues'}}Red Fox{{/link-to}} in June 2017.</p>
      </article>
    </div>
</section>

<br><br>

<h2>Future Exhibitions</h2>
<section class="exhibitions">
    <div class="row auto-clear">
      <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="crop">
          {{#link-to 'artist.oldham'}}<img src="/assets/images/features/oldham348x220.jpg" alt="Julia Oldham">{{/link-to}}
        </div>
        <h2 class="marketing-columns">{{#link-to 'artist.oldham'}}Julia Oldham{{/link-to}}</h2>
        <p>Julia Oldham will be showing drawings at Red Fox in July 2017.</p>
      </article>
      <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="crop">
          {{#link-to 'artist.simione'}}<img src="/assets/images/features/schneider348x220.jpg" alt="Harry Schneider">{{/link-to}}
        </div>
        <h2 class="marketing-columns">{{#link-to 'artist.schneider'}}Harry Schneider{{/link-to}}</h2>
        <p>Harry Schneider will be showing drawings at Flickerbox, Inc. August-October 2017.</p>
      </article>
      <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="crop">
          {{#link-to 'artist.beaver'}}<img src="/assets/images/features/beaver348x220.jpg" alt="Johnny Beaver">{{/link-to}}
        </div>
        <h2 class="marketing-columns">{{#link-to 'artist.beaver'}}Johnny Beaver{{/link-to}}</h2>
        <p>Johnny Beaver will be showing paintings at Red Fox August 2017.</p>
      </article>
    </div>
</section>
<div class="row auto-clear"></div>

<br><br>
<h2>Past Exhibitions</h2>
<section class="exhibitions">
    <div class="row auto-clear">
    <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="crop">
        {{#link-to 'artist.miyamoto'}}<img src="/assets/images/features/miyamoto348x220.jpg" alt="Kanani Miyamoto">{{/link-to}}</div>
        <h2 class="marketing-columns">{{#link-to 'artist.miyamoto'}}Kanani Miyamoto{{/link-to}}</h2>
        <p>{{#link-to 'artist.miyamoto'}}Kanani Miyamoto{{/link-to}} showed prints at {{#link-to 'venues'}}Flickerbox{{/link-to}} in Downtown Portland May-June 2017.</p>
      </article>
    <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="crop">{{#link-to 'artist.simione'}}<img src="/assets/images/features/simione348x220.jpg" alt="Angela Simione">{{/link-to}}</div>
        <h2 class="marketing-columns">{{#link-to 'artist.simione'}}Angela Simione{{/link-to}}</h2>
        <p>Angela Simione showed drawings at {{#link-to 'venues'}}Red Fox{{/link-to}} in May 2017.</p>
        <p>Angela Simione is a New York painter and writer with a tremendous appreciation for all things black and white. Simione's solo exhibition at Red Fox can be seen daily 3pm - 1:30am. 21+ only please. Red Fox is located at 5128 N. Albina, Portland OR.</p>
      </article>
      <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="crop">
          {{#link-to 'artist.berlin'}}<img src="/assets/images/features/berlin348x220.jpg" alt="Jason Berlin Thomas">{{/link-to}}
        </div>
        <h2 class="marketing-columns">{{#link-to 'artist.berlin'}}Jason Berlin{{/link-to}}</h2>
        <p>Jason Berlin showed paintings at Red Fox in North Portland March 2017.</p>
        <p>Berlin works in the medium of oil painting, sculpture, installation, college, and curation. Berlin’s work has been exhibited in numerous art shows in the Pacific Northwest, and in group exhibitions in New York, France, and Vancouver BC.</p>
      </article>
      <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="crop">
          {{#link-to 'artist.void'}}<img src="/assets/images/features/void348x220.png" alt="Epochal Void">{{/link-to}}
        </div>
        <h2 class="marketing-columns">{{#link-to 'artist.void'}}Epochal Void{{/link-to}}</h2>
        <p>Epochal Void showed drawings at Flickerbox, Inc. in March 2017.</p>
        <p>Specializing in conceptual drawing, printmaking, mixed media art, paper sculpture, lettering and collage, Epochal Void creates bodies of work which explore concepts of impermanence, betweenness, as well as social & spiritual bondage. The process is, itself, a gesture of freedom, of liberation from the constraint of measurement, of definition, of expectation.</p>
      </article>
      <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="crop">
          {{#link-to 'artist.mulder'}}<img src="/assets/images/features/mulder348x220.jpg" alt="Rachel Mulder">{{/link-to}}
        </div>
        <h2 class="marketing-columns">{{#link-to 'artist.mulder'}}Rachel Mulder{{/link-to}}</h2>
        <p>Rachel Mulder creates images through repetitive mark making. Her show at Flickerbox, Inc., in downtown Portland was up through the month of February, 2017.</p>
      </article>
      <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="crop">
          {{#link-to 'artist.schlunegger'}}<img src="/assets/images/features/schlunegger348x220.jpg" alt="Danielle Schlunegger-Warner">{{/link-to}}
        </div>
        <h2 class="marketing-columns">{{#link-to 'artist.schlunegger'}}Danielle Schlunegger-Warner{{/link-to}}</h2>
        <p>Danielle Schlunegger-Warner creates faux taxidermy animals out of fake fur and old books.</p>
        <p>Schlunegger-Warner showed an installation of bear heads and cave bobcats at Red Fox Bar in North Portland for the month of Februaru 2017.</p>
      </article>
      <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="crop">
        	{{#link-to 'artist.reed'}}<img src="/assets/images/features/reed348x220.jpg" alt="Ehren Reed">{{/link-to}}
        </div>
        <h2 class="marketing-columns">{{#link-to 'artist.reed'}}Ehren Reed{{/link-to}}</h2>
        <p>Ehren Reed showed her embroidery portraits inspired from vintage photos of beauty queens at Flickerbox in December 2016 and Red Fox in January 2017.</p>
      </article>
      <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="crop">
        	{{#link-to 'artist.lorish'}}<img src="/assets/images/features/lorish348x220.jpg" alt="Andrew Lorish">{{/link-to}}
        </div>
        <h2 class="marketing-columns">{{#link-to 'artist.lorish'}}A•C•M Lorish{{/link-to}}</h2>
        <p>Andrew Lorish had a solo exhibition at Flickerbox, Inc. in January 2017.</p>
      </article>
    </div>
</section>

{{outlet}}
