<h2>Current Exhibitions</h2>
<section class="exhibitions">
    <div class="row auto-clear">
      <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="crop">
          {{#link-to 'artist.weisenburger'}}<img src="/assets/images/features/weisenburger348x220.jpg" alt="Mary Weisenburger">{{/link-to}}
        </div>
        <h2 class="marketing-columns">{{#link-to 'artist.weisenburger'}}Mary Weisenburger{{/link-to}}</h2>
        <p>Mary Weisenburger is exhibiting paintings at Flickerbox, Inc., April - June 2018.</p>
        <p>Weisenburger currently lives and works in Portland, Oregon creating new paintings out of a historic building in the NE industrial neighborhood. She holds a BFA from Pacific Northwest College of Art and currently works as a Product Specialist for Gamblin Artists Colors.</p>
      </article>
      <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="crop">
          {{#link-to 'group.akasu-winter2018'}}<img src="/assets/images/features/wolf348x220.jpg" alt="Akasu Winter 2018">{{/link-to}}
        </div>
        <h2 class="marketing-columns">{{#link-to 'group.akasu-winter2018'}}Berlin, Kruse, Reeves, Schneider, Wolf at Akasu Hair Studio and Spa{{/link-to}}</h2>
        <p>This is Verge's first exhibition at Akasu Salon. Jason Berlin and Veronica Reeves are showing paintings on the first floor. Rachel Wolf, Brandi Kruse, and Harry Schneider are showing prints upstairs.</p>
      </article>
      <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="crop">
          {{#link-to 'artist.moran'}}<img src="/assets/images/features/moran348x220.jpg" alt="M. V. Moran">{{/link-to}}
        </div>
        <h2 class="marketing-columns">{{#link-to 'artist.moran'}}M. V. Moran{{/link-to}}</h2>
        <p>M. V. Moran is exhibiting paintings at Akasu Salon April-June 2018.</p>
        <p>Moran earned her MFA in Visual Studies from Pacific Northwest College of Art, Portland, Oregon in 2016 and a BFA in Painting from the University of Oregon, Eugene, Oregon in 1999. Moran works in Eugene, Oregon.</p>
      </article>
      <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="crop">
          {{#link-to 'artist.bose'}}<img src="/assets/images/features/bose348x220.jpg" alt="Subarna Talukder Bose">{{/link-to}}
        </div>
        <h2 class="marketing-columns">{{#link-to 'artist.bose'}}Subarna Talukder Bose{{/link-to}}</h2>
        <p>Subarna Talukder Bose is exhibiting paintings at Red Fox Bar in April 2018.</p>
        <p>Subarna is originally from Calcutta, India. She has recently exhibited her art in various exhibitions across Corvallis. Before coming to US in 2015 she worked as a journalist in India for five years. She holds a BA in English Literature and a PG Dip in Journalism. She volunteers at Corvallis Arts Center and OSU Folk Club.</p>
      </article>

    </div>
</section>

<br><br>

<h2>Future Exhibitions</h2>
<section class="exhibitions">
    <div class="row auto-clear">
      <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="crop">
          {{#link-to 'artist.casaletto'}}<img src="/assets/images/features/casaletto348x220.jpg" alt="Kristin Casaletto">{{/link-to}}
        </div>
        <h2 class="marketing-columns">{{#link-to 'artist.casaletto'}}Kristin Casaletto{{/link-to}}</h2>
        <p>Kristin Casaletto is exhibiting paintings at Flickerbox in June 2018.</p>
        <p>Casaletto is a freelance graphic designer, illustrator, artist and woodworker in Portland, Oregon. She specializes in branding &amp; beverage packaging, but has worked with a wide variety of clients for over 15 years. </p>
      </article>
    </div>
</section>
<div class="row auto-clear"></div>

<br><br>
<h2>Past Exhibitions</h2>
<section class="exhibitions">
    <div class="row auto-clear">
      <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="crop">
          {{#link-to 'artist.oliveira'}}<img src="/assets/images/features/oliveira348x220.jpg" alt="Milla oliveira">{{/link-to}}
        </div>
        <h2 class="marketing-columns">{{#link-to 'artist.oliveira'}}Milla Oliviera{{/link-to}}</h2>
        <p>Oliveira is showing large paintings on paper at Flickerbox through April 15, 2018.</p>
        <p>Milla Oliveira is an Oregon-based visual artist who explores the connections between language systems and their expressions through materials and the body. Originally from Rio de Janeiro, Oliveira has learned and taught in various institutions that ranged from traditional local dance practices in the streets to university classrooms.</p>
      </article>
      <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="crop">
          {{#link-to 'artist.void'}}<img src="/assets/images/features/voidv2_348x220.jpg" alt="Epochal Void">{{/link-to}}
        </div>
        <h2 class="marketing-columns">{{#link-to 'artist.void'}}Epochal Void{{/link-to}}</h2>
        <p>Epochal Void exhibited paintings at Akemi Salon January - March 2018.</p>
        <p>Specializing in conceptual drawing, printmaking, mixed media art, paper sculpture, lettering and collage, Epochal Void creates bodies of work which explore concepts of impermanence, betweenness, as well as social &amp; spiritual bondage. The process is, itself, a gesture of freedom, of liberation from the constraint of measurement, of definition, of expectation.</p>
      </article>
      <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="crop">
          {{#link-to 'artist.lorish'}}<img src="/assets/images/features/lorish348x220v3.jpg" alt="Andrew Lorish">{{/link-to}}
        </div>
        <h2 class="marketing-columns">{{#link-to 'artist.lorish'}}A•C•M Lorish{{/link-to}}</h2>
        <p>A•C•M Lorish exhibited paintings at Red Fox Bar in February 2018.</p>
        <p>A•C•M• Lorish was born in Eugene, Oregon. He studied at School of the Art Institute of Chicago, and Pacific Northwest College of Art where in 2013 he received his MFA in Visual Studies. He is a founding member of the art collective Danger Punch.</p>
      </article>
      <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="crop">
          {{#link-to 'artist.risse'}}<img src="/assets/images/features/rissem348x220.jpg" alt="Alanna Risse">{{/link-to}}
        </div>
        <h2 class="marketing-columns">{{#link-to 'artist.risse'}}Alanna Risse{{/link-to}}</h2>
        <p>Alanna's drawing series: "Beautiful Beasts" is showing at Red Fox Bar for the month of January 2018.</p>
      </article>
      <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="crop">
          {{#link-to 'artist.vanover'}}<img src="/assets/images/features/vanover348x220v2.jpg" alt="Rhonda Vanover">{{/link-to}}
        </div>
        <h2 class="marketing-columns">{{#link-to 'artist.vanover'}}Rhonda Vanover{{/link-to}}</h2>
        <p>Rhonda Vanover is exhibiting photographic works as well as prints of found vintage broken glass negatives at Flickerbox, Inc. October-December 2017.</p>
      </article>
      <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="crop">
          {{#link-to 'artist.miyamoto'}}<img src="/assets/images/features/miyamoto348x220.jpg" alt="Kanani Miyamoto">{{/link-to}}
        </div>
        <h2 class="marketing-columns">{{#link-to 'artist.miyamoto'}}Kanani Miyamoto{{/link-to}}</h2>
        <p>Kanani Miyamoto is showing prints at {{#link-to 'venues'}}Akemi Salon{{/link-to}} in September 15 - November 15 2017.</p>
        <p>Please join us Wednesday October 11th for Walk William's Wednesday's art walks 6-9pm. Akemi Salon is located at 3808 N. Williams Ste D, Portland OR.</p>
      </article>
      <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="crop">
          {{#link-to 'artist.risse'}}<img src="/assets/images/features/rissep348x220.jpg" alt="Alanna Risse">{{/link-to}}
        </div>
        <h2 class="marketing-columns">{{#link-to 'artist.risse'}}Alanna Risse{{/link-to}}</h2>
        <p>"Perseverate" is a series of drawings done mostly during Alanna Risse's residency at Leiland Ironworks in October 2015.</p>
      </article>
      <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="crop">
          {{#link-to 'artist.haberman'}}<img src="/assets/images/features/haberman348x220.jpg" alt="Chris Haberman">{{/link-to}}
        </div>
        <h2 class="marketing-columns">{{#link-to 'artist.haberman'}}Chris Haberman{{/link-to}}</h2>
        <p>Chris Haberman is exhibiting paintings at Red Fox December 2017.</p>
      </article>
      <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="crop">
          {{#link-to 'artist.harding'}}<img src="/assets/images/features/harding348x220.jpg" alt="Bryn Harding">{{/link-to}}
        </div>
        <h2 class="marketing-columns">{{#link-to 'artist.harding'}}Bryn Harding{{/link-to}}</h2>
        <p>Harding is exhibiting paintings at Red Fox November 2017.</p>
        <p>Bryn Harding is an artists living and working in Portland. The paintings in this show were made after a summer spent behind the wheel and too much time pondering what roads do to landscapes and to our spirits.</p>
      </article>
      <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="crop">
          {{#link-to 'artist.rittenhouse'}}<img src="/assets/images/features/rittenhouse348x220.jpg" alt="Alexis Rittenhouse">{{/link-to}}
        </div>
        <h2 class="marketing-columns">{{#link-to 'artist.rittenhouse'}}Alexis Rittenhouse{{/link-to}}</h2>
        <p>Alexis Rittenhouse is showing sculptures at Red Fox October 2017.</p>
        <p>Rittenhouse is a sculptural artist residing in Portland Oregon. With this playful iteration of works, there is an exploration of spatial relationships, and isolated bodies of strangeness. Each item is a topographical mind map of a world yet to be discovered.</p>
      </article>
      <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="crop">
          {{#link-to 'artist.schneider'}}<img src="/assets/images/features/schneiderkvk348x220.jpg" alt="Harry Schneider">{{/link-to}}
        </div>
        <h2 class="marketing-columns">{{#link-to 'artist.schneider'}}Harry Schneider and Andreas Kindler von Knobloch{{/link-to}}</h2>
        <p>Harry Schneider and Andreas Kindler von Knobloch exhibited collaborative drawings at Flickerbox, Inc. August-October 2017.</p>
      </article>
      <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="crop">
          {{#link-to 'artist.cranmore'}}<img src="/assets/images/features/cranmore348x220.jpg" alt="W.S. Cranmore">{{/link-to}}
        </div>
        <h2 class="marketing-columns">{{#link-to 'artist.cranmore'}}W.S. Cranmore{{/link-to}}</h2>
        <p>W.S. Cranmore exhibited paintings at Red Fox September 2017.</p>
    </article>
    <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="crop">
          {{#link-to 'artist.beaver'}}<img src="/assets/images/features/beaver348x220.jpg" alt="Johnny Beaver">{{/link-to}}
        </div>
        <h2 class="marketing-columns">{{#link-to 'artist.beaver'}}Johnny Beaver{{/link-to}}</h2>
        <p>Johnny Beaver exhibited paintings at Red Fox August 2017.</p>
      </article>
      <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="crop">
          {{#link-to 'artist.reeves'}}<img src="/assets/images/features/reeves_akemi348x220.jpg" alt="Veronica Reeves">{{/link-to}}
        </div>
        <h2 class="marketing-columns">{{#link-to 'artist.reeves'}}Veronica Reeves{{/link-to}}</h2>
        <p>Veronica Reeves has a solo exhibition of watercolors and paintings Akemi Salon May-August 2017.</p>
      </article>
      <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="crop">
          {{#link-to 'artist.quiroz'}}<img src="/assets/images/features/quiroz348x220.jpg" alt="Amanda Quiroz">{{/link-to}}
        </div>
        <h2 class="marketing-columns">{{#link-to 'artist.quiroz'}}Amanda Quiroz{{/link-to}}</h2>
        <p>Amanda Quiroz will be showing drawings at Flickerbox, Inc. June-August 2017.</p>
      </article>
        <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="crop">
          {{#link-to 'artist.risse'}}<img src="/assets/images/features/rissewiwd348x220.jpg" alt="Alanna Risse">{{/link-to}}
        </div>
        <h2 class="marketing-columns">{{#link-to 'artist.risse'}}Alanna Risse{{/link-to}}</h2>
        <p>Alanna Risse is showing photographs at Red Fox in July 2017.</p>
      </article>
    <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="crop">{{#link-to 'artist.kress'}}<img src="/assets/images/features/kress348x220.jpg" alt="Angela Simione">{{/link-to}}
        </div>
        <h2 class="marketing-columns">{{#link-to 'artist.kress'}}Kim Kress{{/link-to}}</h2>
        <p>Kim Kress is showing pyrography at {{#link-to 'venues'}}Red Fox{{/link-to}} in June 2017.</p>
      </article>
      <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="crop">
        {{#link-to 'artist.miyamoto'}}<img src="/assets/images/features/miyamoto348x220.jpg" alt="Kanani Miyamoto">{{/link-to}}</div>
        <h2 class="marketing-columns">{{#link-to 'artist.miyamoto'}}Kanani Miyamoto{{/link-to}}</h2>
        <p>{{#link-to 'artist.miyamoto'}}Kanani Miyamoto{{/link-to}} showed prints at {{#link-to 'venues'}}Flickerbox{{/link-to}} in Downtown Portland May-June 2017.</p>
      </article>
    <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="crop">{{#link-to 'artist.simione'}}<img src="/assets/images/features/simione348x220.jpg" alt="Angela Simione">{{/link-to}}</div>
        <h2 class="marketing-columns">{{#link-to 'artist.simione'}}Angela Simione{{/link-to}}</h2>
        <p>Angela Simione showed drawings at {{#link-to 'venues'}}Red Fox{{/link-to}} in May 2017.</p>
        <p>Angela Simione is a New York painter and writer with a tremendous appreciation for all things black and white. Simione's solo exhibition at Red Fox can be seen daily 3pm - 1:30am. 21+ only please. Red Fox is located at 5128 N. Albina, Portland OR.</p>
      </article>
      <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="crop">
          {{#link-to 'artist.berlin'}}<img src="/assets/images/features/berlin348x220.jpg" alt="Jason Berlin Thomas">{{/link-to}}
        </div>
        <h2 class="marketing-columns">{{#link-to 'artist.berlin'}}Jason Berlin{{/link-to}}</h2>
        <p>Jason Berlin showed paintings at Red Fox in North Portland March 2017.</p>
        <p>Berlin works in the medium of oil painting, sculpture, installation, college, and curation. Berlin’s work has been exhibited in numerous art shows in the Pacific Northwest, and in group exhibitions in New York, France, and Vancouver BC.</p>
      </article>
      <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="crop">
          {{#link-to 'artist.void'}}<img src="/assets/images/features/void348x220.png" alt="Epochal Void">{{/link-to}}
        </div>
        <h2 class="marketing-columns">{{#link-to 'artist.void'}}Epochal Void{{/link-to}}</h2>
        <p>Epochal Void showed drawings at Flickerbox, Inc. in March 2017.</p>
        <p>Specializing in conceptual drawing, printmaking, mixed media art, paper sculpture, lettering and collage, Epochal Void creates bodies of work which explore concepts of impermanence, betweenness, as well as social &amp; spiritual bondage. The process is, itself, a gesture of freedom, of liberation from the constraint of measurement, of definition, of expectation.</p>
      </article>
      <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="crop">
          {{#link-to 'artist.mulder'}}<img src="/assets/images/features/mulder348x220.jpg" alt="Rachel Mulder">{{/link-to}}
        </div>
        <h2 class="marketing-columns">{{#link-to 'artist.mulder'}}Rachel Mulder{{/link-to}}</h2>
        <p>Rachel Mulder creates images through repetitive mark making. Her show at Flickerbox, Inc., in downtown Portland was up through the month of February, 2017.</p>
      </article>
      <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="crop">
          {{#link-to 'artist.schlunegger'}}<img src="/assets/images/features/schlunegger348x220.jpg" alt="Danielle Schlunegger-Warner">{{/link-to}}
        </div>
        <h2 class="marketing-columns">{{#link-to 'artist.schlunegger'}}Danielle Schlunegger-Warner{{/link-to}}</h2>
        <p>Danielle Schlunegger-Warner creates faux taxidermy animals out of fake fur and old books.</p>
        <p>Schlunegger-Warner showed an installation of bear heads and cave bobcats at Red Fox Bar in North Portland for the month of Februaru 2017.</p>
      </article>
      <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="crop">
        	{{#link-to 'artist.reed'}}<img src="/assets/images/features/reed348x220.jpg" alt="Ehren Reed">{{/link-to}}
        </div>
        <h2 class="marketing-columns">{{#link-to 'artist.reed'}}Ehren Reed{{/link-to}}</h2>
        <p>Ehren Reed showed her embroidery portraits inspired from vintage photos of beauty queens at Flickerbox in December 2016 and Red Fox in January 2017.</p>
      </article>
      <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="crop">
        	{{#link-to 'artist.lorish'}}<img src="/assets/images/features/lorish348x220.jpg" alt="Andrew Lorish">{{/link-to}}
        </div>
        <h2 class="marketing-columns">{{#link-to 'artist.lorish'}}A•C•M Lorish{{/link-to}}</h2>
        <p>Andrew Lorish had a solo exhibition at Flickerbox, Inc. in January 2017.</p>
      </article>
    </div>
</section>

{{outlet}}
