<div class="featured-artists">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-md-4">
        <img src="assets/images/mulder348x220.jpg" alt="Rachel Mulder">
        <h2 class="marketing-columns">Rachel Mulder</h2>
        <p>HTML and CSS makes my heart gooby</p>
      </div>
      <div class="col-sm-4 col-md-4">
        <img src="assets/images/schlunegger348x220.jpg" alt="Danielle Schlunegger-Warner">
        <h2 class="marketing-columns">Danielle Schlunegger-Warner</h2>
        <p>I like plants</p>
      </div>
      <div class="col-sm-4 col-md-4">
        <img src="assets/images/berlin348x220.jpg" alt="Jason Berlin Thomas">
        <h2 class="marketing-columns">Fire</h2>
        <p>Burn it up</p>
      </div>
    </div>
  </div>
</div>
{{outlet}}
