
<h2>{{title}}</h2>

<section class="featured-artists">
    <div class="row auto-clear">
      <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
          {{#link-to 'artist.void'}}<img src="/assets/images/features/voidv2_348x220.jpg" alt="Epochal Void">{{/link-to}}
        <h2 class="marketing-columns">{{#link-to 'artist.void'}}Epochal Void{{/link-to}}</h2>
        <p>Epochal Void will be exhibiting paintings at Akemi Salon January - March 2018.</p>

        <p><strong>Artist Reception and Fundraiser for <a href="http://www.underdograilroadrescue.com/" target="_blank">Underdog Railroad Rescue</a></strong><br>
        March 3rd, 6-9pm<br>
        <a href="https://www.facebook.com/events/323766858123596/" target="_blank">Facebook event link</a></p>
      </article>
      <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
          {{#link-to 'artist.lorish'}}<img src="/assets/images/features/lorish348x220v3.jpg" alt="Andrew Lorish">{{/link-to}}
        <h2 class="marketing-columns">{{#link-to 'artist.lorish'}}A•C•M Lorish{{/link-to}}</h2>
        <p>A•C•M Lorish is exhibiting paintings at Red Fox Bar in February 2018.</p>
        <p>A•C•M• Lorish was born in Eugene, Oregon. He studied at School of the Art Institute of Chicago, and Pacific Northwest College of Art where in 2013 he received his MFA in Visual Studies. He is a founding member of the art collective Danger Punch.</p>
      </article>
      <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
          {{#link-to 'group.akasu-winter2018'}}<img src="/assets/images/features/wolf348x220.jpg" alt="Akasu Winter 2018">{{/link-to}}
        <h2 class="marketing-columns">{{#link-to 'group.akasu-winter2018'}}Berlin, Kruse, Reeves, Schneider, Wolf at Akasu Hair Studio and Spa{{/link-to}}</h2>
        <p>This is Verge's first exhibition at Akasu Salon. Jason Berlin and Veronica Reeves are showing paintings on the first floor. Rachel Wolf, Brandi ruse, and Harry Schneider are showing prints upstairs.</p>
      </article>
      <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
          {{#link-to 'artist.oliveira'}}<img src="/assets/images/features/oliveira348x220.jpg" alt="Milla oliveira">{{/link-to}}
        <h2 class="marketing-columns">{{#link-to 'artist.oliveira'}}Milla Oliviera{{/link-to}}</h2>
        <p>Join us Sunday February 18th, 2018 1-3pm at flickerbox: 321 SW Oak St, Suite 501, Portland OR, for an artist reception. Oliveira is showing large paintings on paper at Flickerbox through April 15, 2018.</p>
        <p>Milla Oliveira is an Oregon-based visual artist who explores the connections between language systems and their expressions through materials and the body. Originally from Rio de Janeiro, Oliveira has learned and taught in various institutions that ranged from traditional local dance practices in the streets to university classrooms.</p>
      </article>
      <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
          <a href="https://www.facebook.com/events/155014155294055/" target="_blank"><img src="/assets/images/features/artfem348x220.png" alt="Art + Feminism"></a>
        <h2 class="marketing-columns"><a href="https://www.facebook.com/events/155014155294055/" target="_blank">Art + Feminism</a></h2>
        <p>The PNCA library is hosting a <strong>Ferminist Wikipediathon March 10th 11am-4pm, 2018</strong>.</p>
        <p>This event sponsored by <a href="http://www.artandfeminism.org/" target="_blank">Art + Feminism</a> is part of a global effort to improve coverage of cis and transgender women, feminism and the arts on Wikipedia. Learn how to edit and create Wikipedia entries! Have fun! Eat snacks! Hang out with Alanna from Verge PDX.</p>
        <p><strong>Facebook Event:</strong> <a href="https://www.facebook.com/events/155014155294055/" target="_blank">Art + Feminism Wikipediathon at the PNCA Library</a>
        </p>
      </article>

      <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <img src="/assets/images/features/maillist348x220.jpg" alt="Join Our Mailing List">
        <h2>Stay in Touch</h2>
        <!-- Begin MailChimp Signup Form -->
        <style type="text/css">
          #mc_embed_signup{clear:left; width:348px;}
        </style><div id="mc_embed_signup">
        <form action="//vergepdx.us1.list-manage.com/subscribe/post?u=b9b5d0e85816942e13da8cb6b&amp;id=c7cd1500e3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
          <h2>Subscribe to our mailing list</h2>
        <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
        <div class="mc-field-group">
          <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
        </label>
          <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
        </div>
        <div class="mc-field-group">
          <label for="mce-FNAME">First Name </label>
          <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
        </div>
        <div class="mc-field-group">
          <label for="mce-LNAME">Last Name </label>
          <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
        </div>
        <div class="mc-field-group input-group">
            <strong>Email Format </strong>
            <ul><li><input type="radio" value="html" name="EMAILTYPE" id="mce-EMAILTYPE-0"><label for="mce-EMAILTYPE-0">html</label></li>
        <li><input type="radio" value="text" name="EMAILTYPE" id="mce-EMAILTYPE-1"><label for="mce-EMAILTYPE-1">text</label></li>
        </ul>
        </div>
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_b9b5d0e85816942e13da8cb6b_c7cd1500e3" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
            </div>
        </form>
        </div>
        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
        <!--End mc_embed_signup-->
      </article>

    </div>
</section>
<section class="intro">
    <div class="row auto-clear text-center">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2>Verge PDX rotates exhibitions of emerging artists on the walls of businesses in Portland, Oregon.</h2>
        <p><a class="btn btn-primary" href="/about">Learn More</a></p>
      </div>
    </div>
</section>
{{outlet}}
