<h2>{{title}}</h2>
<section class="featured-artists">
    <div class="row auto-clear">
      <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        {{#link-to 'artist.mulder'}}<img src="/assets/images/features/mulder348x220.jpg" alt="Rachel Mulder">{{/link-to}}
        <h2 class="marketing-columns">{{#link-to 'artist.mulder'}}Rachel Mulder{{/link-to}}</h2>
        <p>Rachel Mulder creates images through repetitive mark making. Her show at Flickerbox, Inc., in downtown Portland will be up through the month of February, 2017.</p>
        <p>The opening reception is Thursday, <strong>February 16th 7-10pm</strong>. 321 SW 4th Ave, Suite 501, Portland OR. PLEASE NOTE: this is a private office. if you are unable to attend the reception and would like to see the show, please <a href="mailto:alanna@vergepdx.com">email me</a>.</p>
      </article>
      <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        {{#link-to 'artist.schlunegger'}}<img src="/assets/images/features/schlunegger348x220.jpg" alt="Danielle Schlunegger-Warner">{{/link-to}}
        <h2 class="marketing-columns">{{#link-to 'artist.schlunegger'}}Danielle Schlunegger-Warner{{/link-to}}</h2>
        <p>Danielle Schlunegger creates faux taxidermy animals out of fake fur and old books.</p>
        <p>Schlunegger-Warner is showing a installation of bear heads and cave bobcats at Red Fox Bar in North Portland for the month of Februaru 2017. Schlunegger-Warner's reception is <strong>Sunday Febrtuary 12th</strong>, 7-9pm.</p>
      </article>
      <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        {{#link-to 'artist.berlin'}}<img src="/assets/images/features/berlin348x220.jpg" alt="Jason Berlin Thomas">{{/link-to}}
        <h2 class="marketing-columns">{{#link-to 'artist.berlin'}}Jason Berlin{{/link-to}}</h2>
        <p>Jason Berlin will be showing paintings at Red Fox in North Portland March 2017.</p>
        <p>Berlin works in the medium of oil painting, sculpture, installation, college, and curation. Berlin’s work has been exhibited in numerous art shows in the Pacific Northwest, and in group exhibitions in New York, France, and Vancouver BC.</p>
      </article>
      <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        {{#link-to 'artist.void'}}<img src="/assets/images/features/void348x220.png" alt="Epochal Void">{{/link-to}}
        <h2 class="marketing-columns">{{#link-to 'artist.void'}}Epochal Void{{/link-to}}</h2>
        <p>Epochal Void will be showing drawings at Flickerbox, Inc. in March 2017.</p>
        <p>Specializing in conceptual drawing, printmaking, mixed media art, paper sculpture, lettering and collage, Epochal Void creates bodies of work which explore concepts of impermanence, betweenness, as well as social & spiritual bondage. The process is, itself, a gesture of freedom, of liberation from the constraint of measurement, of definition, of expectation.</p>
      </article>
      <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        {{#link-to 'artist.simione'}}<img src="/assets/images/features/simione348x220.jpg" alt="Angela Simione">{{/link-to}}
        <h2 class="marketing-columns">{{#link-to 'artist.simione'}}Angela Simione{{/link-to}}</h2>
        <p>Angela Simione will be showing drawings at Flickerbox, Inc. in April 2017 and at Red Fox in May.</p>
        <p>Angela Simione is a New York painter and writer with a tremendous appreciation for all things black and white.</p>
      </article>
    </div>
</section>
{{outlet}}
