
	<header>
		<h1>Verge PDX Logo and header</h1>
	</header>

	<div class="row">
	  <div class="col-md-6">
	    <a href="http://emberjs.com/" target="_blank">EmberJS</a>
	  </div>
	  <div class="col-md-6">
	    <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a>
	  </div>
	</div>

{{outlet}}
