<div class="featured-artists">
    <div class="row auto-clear">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <img src="assets/images/mulder348x220.jpg" alt="Rachel Mulder">
        <h2 class="marketing-columns">{{#link-to 'mulder'}}Rachel Mulder{{/link-to}}</h2>
        <p>Rachel Mulder creates images through repetitive mark making. Her show at Flickerbox, Inc., in downtown Portland will be up through the month of February, 2017.</p>
        <p>The opening reception is Thursday, <strong>February 16th 7-10pm</strong>. 321 SW 4th Ave, Suite 501, Portland OR. PLEASE NOTE: this is a private office. if you are unable to attend the reception and would like to see the show, please <a href="mailto:alanna@vergepdx.com">email me</a>.</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <img src="assets/images/schlunegger348x220.jpg" alt="Danielle Schlunegger-Warner">
        <h2 class="marketing-columns">{{#link-to 'schlunegger'}}Danielle Schlunegger-Warner{{/link-to}}</h2>
        <p>Danielle Schlunegger creates faux taxidermy animals out of fake fur and old books.</p>
        <p>She is showing a few bear heads and cave bobcats at Red Fox Bar in North Portland for the month of Februaru 2017. Schlunegger-Warner's reception is <strong>Sunday Febrtuary 12th</strong>, 7-9pm.</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <img src="assets/images/berlin348x220.jpg" alt="Jason Berlin Thomas">
        <h2 class="marketing-columns">{{#link-to 'berlin'}}Jason Berlin{{/link-to}}</h2>
        <p>Jason Berlin will be showing collages at Red Fox in North Portland March 2017.

</p>
      </div>
    </div>
</div>
{{outlet}}
