<h2>{{title}}</h2>
<section class="featured-artists">
    <div class="row auto-clear">
      <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        {{#link-to 'artist.lorish'}}<img src="/assets/images/features/lorish348x220.jpg" alt="ACM Lorish">{{/link-to}}
        <h2 class="marketing-columns">{{#link-to 'artist.lorish'}}A•C•M Lorish{{/link-to}}</h2>
        <p>A•C•M• Lorish is showing paintings at Red Fox in North Portland April 2017. <strong>Opening Reception</strong> Sunday, March 12th, 7-9pm. 5128 N Albina, Portland OR 97217</p>
        <p>A•C•M• Lorish presents some new paintings about the mystical forces that dictate our lives without ever fully revealing their intentions. They are also formally about interactions of color. They are also about locations that don't exist on this plain of existence. They are also about love and sex and jazz and food. They are also sort of about me. They are also probably about you.</p>
      </article>
      <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        {{#link-to 'artist.simione'}}<img src="/assets/images/features/simione348x220.jpg" alt="Angela Simione">{{/link-to}}
        <h2 class="marketing-columns">{{#link-to 'artist.simione'}}Angela Simione{{/link-to}}</h2>
        <p>Angela Simione will be showing drawings at Flickerbox, Inc. in April 2017 and at Red Fox in May.</p>
        <p>Angela Simione is a New York painter and writer with a tremendous appreciation for all things black and white.</p>
      </article>
    </div>
</section>
{{outlet}}
