<h2>{{title}}</h2>
<section class="featured-artists">
    <div class="row auto-clear">
      <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        {{#link-to 'artist.berlin'}}<img src="/assets/images/features/berlin348x220.jpg" alt="Jason Berlin Thomas">{{/link-to}}
        <h2 class="marketing-columns">{{#link-to 'artist.berlin'}}Jason Berlin{{/link-to}}</h2>
        <p>Jason Berlin is showing paintings at Red Fox in North Portland March 2017. <strong>Opening Reception</strong> Sunday, March 14th, 7-9pm. 5128 N Albina, Portland OR 97217</p>
        <p>Berlin works in the medium of oil painting, sculpture, installation, college, and curation. Berlin’s work has been exhibited in numerous art shows in the Pacific Northwest, and in group exhibitions in New York, France, and Vancouver BC.</p>
      </article>
      <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        {{#link-to 'artist.void'}}<img src="/assets/images/features/void348x220.png" alt="Epochal Void">{{/link-to}}
        <h2 class="marketing-columns">{{#link-to 'artist.void'}}Epochal Void{{/link-to}}</h2>
        <p>Epochal Void is showing a group of drawings at Flickerbox, Inc. in March 2017. There will be no reception. <a href="mailto:alanna@vergepdx.com">Contact me</a> for viewing appointments.</p>
        <p>Specializing in conceptual drawing, printmaking, mixed media art, paper sculpture, lettering and collage, Epochal Void creates bodies of work which explore concepts of impermanence, betweenness, as well as social & spiritual bondage. The process is, itself, a gesture of freedom, of liberation from the constraint of measurement, of definition, of expectation.</p>
      </article>
      <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        {{#link-to 'artist.simione'}}<img src="/assets/images/features/simione348x220.jpg" alt="Angela Simione">{{/link-to}}
        <h2 class="marketing-columns">{{#link-to 'artist.simione'}}Angela Simione{{/link-to}}</h2>
        <p>Angela Simione will be showing drawings at Flickerbox, Inc. in April 2017 and at Red Fox in May.</p>
        <p>Angela Simione is a New York painter and writer with a tremendous appreciation for all things black and white.</p>
      </article>
    </div>
</section>
{{outlet}}
