<div class="artist-page">

	<h2>Kelly McGovern</h2>
	<p>{{#link-to 'venues'}}Flickerbox, Inc., PDX{{/link-to}}<br>
	June 2016</p>

	<img src="assets/images/mcgovern/neverdie1024.jpg">

	<h3>Statement:</h3>
	<blockquote>"It feels like we're racing parked cars. It feels like we're tied at the finish line and if we are moving at all we can't be moving fast. I am nostalgic for the things I didn't like in the past."

	-Matthew Winn</blockquote>

	<p>No matter where you go you will leave something you love behind. </p>

	<h3>Bio</h3>
	<p>Kelly McGovern is a multimedia artist. Her work explores motion and language in hopes of finding comfort in escape. She has shown nationally in several major cities including New York, Philadelphia, Washington DC, Salt Lake City, and Portland Oregon, as well as internationally in Hereford, UK. She received her BFA from Moore College of Art and Design in Philadelphia, Pennsylvania and received her MFA from the Hallie Ford School of Graduate Studies at Pacific Northwest College of Art in Portland, Oregon.</p>


	<p>Website: <a href="http://kelly-mcgovern.com/">http://kelly-mcgovern.com</a></p>
</div>
{{artist-page-nav}}

{{outlet}}
