<div class="artist-page">

	<h2>Bertrand Morin</h2>
	<p>July 2016<br>
	Flickerbox, Inc.<br>
	Portland Oregon<br>
	Contact Alanna for Viewing Appointments</p>

	<img src="assets/images/morin/planetoid10_1024.jpg">

	<h3>Statement</h3>
	<p>In my work I use a combination of photographic processes and text to transform ordinary objects and places into strange and bizarre pseudoscientific entities. The subjects of the images are separated from their original context by the physical act of collection and removal, or by careful photographic composition. They are then recombined and cataloged with one another to form new relationships, vocabularies, networks of meaning, and narrative links. The transformation of images and objects is intended to undermine the ways that organizational systems, methods of display, and the truth value assigned to facts and histories mask authorship, ideologies, and limit individual perception. The work is narrative and intended to deeply engage viewers' imaginations through its fantastical, humorous, and sometimes disquieting content. Viewers are left to follow subtle clues and connections to form their own unique links between the images and text. Observation is the backbone of my creative process. I use written and photographic observations as the foundation for the creation of fictional characters, alternate worlds, and illogical anthropologies. The various levels of obfuscation and revelation that the text and images provide for viewers is intended to place my work in a limbo between truth and fiction, and to bend the line between historical archive and pseudoscientific farce.</p>


	<p>Website: <a href="http://bertrandmorin.net/" target="_blank">BertrandMorin.net</a></p>

</div>
{{artist-page-nav}}


{{outlet}}
