<div class="artist-page">
	<h2>Kara Nelson</h2>
	<p>{{#link-to 'venues'}}Flickerbox, Inc., PDX{{/link-to}}<br>
	December 2016</p>

	<img src="assets/images/nelson/reds1024.jpg">

	<h3>Biography</h3>
	<p>Kara Nelson is an artist living and working in the Oakland, CA. She uses her own trash to collage images of landscapes and make small-scale, abstract, and sometimes functional sculptures. Her work has been shown in group and solo exhibitions in galleries, and exhibitions in private homes.</p>

	<p>Originally from the North West, Kara references elements of those landscapes in the images she creates. These signifiers are increasingly mixed with reference to the California landscapes she interacts with daily. For Kara, living sometimes means needing to use objects that can have harmful environmental effects. She creates her work as atonement for using. It serves as a reminder to tread lightly in the world in order to minimize her negative effect on the environment.</p>

	<h3>Statement</h3>
	<p>I believe the world moves in cyclical patterns: birth, death, and decay, which in turn fuels further growth. But the waste which humans produce is disruptive to this cycle. By creating landscapes with discarded materials, I am attempting to give them a longer and more meaningful life. By taking something that inhibits life and using it to create something that represents it, I hope to call attention to the function waste can serve.</p>

</div>
{{artist-page-nav}}

{{outlet}}
