<h2>In The News</h2>
<section class="news">
	<div class="row auto-clear">
		<article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
	      	<h3>Danielle Schlunegger-Warner 2017 Glean Artist in Residence</h3>
	      	<p><a href="http://www.gleanpdx.org/2017/02/15/congratulations-glean-2017-artists/" target="_blank">The Glean Artist Resiency</a> has chosen Danielle Schlunegger-Warner as one of their five artists in residence for 2017! Congratulations Danielle!</p>
			<figure><a href="http://www.gleanpdx.org/2017/02/15/congratulations-glean-2017-artists/" target="_blank"><img src="/assets/images/news/glean.png" alt="Danielle Schlunegger-Warner at Glean"></a></figure>
			<p>>> Visit {{#link-to 'artist.schlunegger'}}Danielle Schlunegger-Warner's Artist Page{{/link-to}}</p>
		</article>
		<article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
	      	<h3>Veronica Reeves at Rainmaker</h3>
	      	<p><a href="http://www.rainmakerartistresidency.org/news/veronica-reeves-radiant-angle" target="_blank">Rainmaker Artist Residency</a> press release of Veronica Reeve's solo exhibition at Rainmaker Artist Residency in December 2016.</p>
			<figure><a href="http://www.rainmakerartistresidency.org/news/veronica-reeves-radiant-angle" target="_blank"><img src="/assets/images/news/veronica_rainmaker_dec2016.jpg" alt="Veronica Reeves at Rainmaker"></a></figure>
			<p>>> Visit {{#link-to 'artist.reeves'}}Veronica Reeves's Artist Page{{/link-to}}</p>
		</article>
		<article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
	      	<h3>Jason Berlin and Alanna Risse at Rainmaker</h3>
	      	<p><a href="http://www.portlandart.net/archives/2017/01/alanna_risse_at.html" target="_blank">PORT review</a> of Jason Berlin's solo exhibition at Rainmaker Artist Residency in January 2017 with guest artist {{#link-to 'artist.risse'}}Alanna Risse{{/link-to}} in the lobby installation space.</p>
			<figure><a href="http://www.portlandart.net/archives/2017/01/alanna_risse_at.html" target="_blank"><img src="/assets/images/news/port_jan2017.jpg" alt="Portlandart.net"></a></figure>
			<p>>> Visit {{#link-to 'artist.berlin'}}Jason Berlin's Artist Page{{/link-to}}</p>
			<p>>> Visit {{#link-to 'artist.risse'}}Alanna Risse's Artist Page{{/link-to}}</p>
		</article>
		<article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
	      	<h3>Kanani Miyamoto at Portland Building</h3>
	      	<p>Uber talented printmaker and Verge's May 2017 featured artist Kanani Miyamoto created a large wall mural at the Portland Building in <a href="https://www.racc.org/2016/06/03/industry-of-aloha-an-art-installation-by-kanani-miyamoto-opens-at-the-portland-building-june-1-june-24/" target="_blank">RACC's installation space</a> in June 2016.</p>
			<figure><a href="https://www.racc.org/2016/06/03/industry-of-aloha-an-art-installation-by-kanani-miyamoto-opens-at-the-portland-building-june-1-june-24/" target="_blank"><img src="/assets/images/news/miyamoto_racc.jpg" alt="Ehren Reed on MLFY"></a></figure>
			<p>>> Visit {{#link-to 'artist.miyamoto'}}Kanani Miyamoto's Artist Page{{/link-to}}</p>
		</article>
		<article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
	      	<h3>Ehren Reed Interview on My Love For You</h3>
	      	<p>Meighan O'Toole <a href="http://myloveforyou.typepad.com/my_love_for_you/2010/03/ehren-elizabeth-reed.html" target="_blank">Interviewed Ehren Reed</a> back in 2010 for her blog My Love For You.</p>
			<figure><a href="http://myloveforyou.typepad.com/my_love_for_you/2010/03/ehren-elizabeth-reed.html" target="_blank"><img src="/assets/images/news/ehrenreed_mlfy.jpg" alt="Ehren Reed on MLFY"></a></figure>
			<p>>> Visit {{#link-to 'artist.reed'}}Ehren Reed's Artist Page{{/link-to}}</p>
		</article>
	</div>
</section>

{{outlet}}
