<div class="artist-page">

	<h2>Ehren Reed</h2>
	<p>{{#link-to 'venues'}}Flickerbox, Inc., PDX{{/link-to}}<br>
	December 2016
	</p>
	<p>{{#link-to 'venues'}}Red Fox{{/link-to}}<br>
	January 2017
	</p>
	<img src="assets/images/reed/bqueen1024.jpg">

	<h3>Lost &amp; Found</h3>

	<p>Using found photographs re-processed through digital manipulation and her signature stitching technique, Ehren Reed’s work examines the value we place on memory in the current digital environment. Her most recent work employs photographs pulled from yearbooks and photo albums discovered at thrift stores— once keepsakes to treasure, now cast aside and forgotten. The embroidery she employs in her work bears the implicit touch of the human hand as she manipulates these with the effect of bringing a new and distinct physicality to tossed-away images.</p>


	<h3>About The Artist</h3>

	<p>Ehren Reed relocated to Louisville, KY in late 2013 after 14 years as a professional artist and art educator in San Francisco, CA.  She currently works as Outreach Programs Manager for Louisville Visual Art where she teaches visual art in various schools and community centers throughout the Louisville Metro area. Her work has been exhibited nationally in numerous venues including StudioWorks (KY), Hanover College (IN) Donna Seager Gallery (CA), Geras Tousignant Gallery (CA), SOMArts (CA), Bedford Gallery (CA), the Sebastopol Center for the Arts (CA), Torpedo Factory Art Center (VA) and the Textile Arts Center (NY).  Reed’s work is held in the permanent collection of the University of Kentucky and has been featured in numerous print publications including Contemporary Artists Books by Emily Marks, Dutch fine art magazine Elephant and, most recently, Textile Art Around the World, edited by Ellen Bakker.</p>

	<p>Ehren Reed Fine Art<br>
	Louisville, Kentucky<br>
	<a href="http://www.ehrenreed.com" target="_blank">www.ehrenreed.com</a></p>

</div>
{{artist-page-nav}}

{{outlet}}
