<h2>Alanna Risse</h2>

<h3>My Art Manifesto</h3>
<p>Let art be an experience. Free it from its frame, it’s pedestal. Shatter the glass that seals it off from the world. Let it absorb finger grease, get dropped, dinged, damaged. Give it life, let it into our lives. Put it in unexpected places. Share it, don’t squander it. Art doesn’t need anyone’s protection. Set it free.</p>


<p>Website: <a href="http://alannarisse.com">AlannaRisse.com</a><br>
Instagram: <a href="https://www.instagram.com/alannarisse/">@alannarisse</a></p>

{{artist-page-nav}}


{{outlet}}
