<h2>Venues</h2>


<div class="artists-thumbs">
  <div class="container">
    <div class="row">

		{{#each model as |venueList|}}
      	<div class="col-sm-4 col-md-4">
 			{{venue-list venueList=venueList}}
      	</div>
  	{{/each}}
    </div>
  </div>
</div>

