<h2>Venues</h2>


<div class="venues">
    <div class="row">
		{{#each model as |venueList|}}
      	<div class="col-sm-12 col-md-4" style="min-height:600px;">
 			{{venue-list venueList=venueList}}
      	</div>
  	{{/each}}
    </div>
</div>

