<h2>Epochal Void</h2>
<p>{{#link-to 'venues'}}Flickerbox, Inc., PDX{{/link-to}}<br>
February 2017<br></p>

<h3>Statement</h3>

<p>The Specimen series is a collection of portraits of abstract life forms that sit in their frames like cells, as iconic objects of study.  They are alive, but formless, undefined bundles of energy and movement.  They may be blown-up images of microscopic bodies, like viruses or bacteria, which affect their host environments while remaining formless and invisible to the naked human eye.  They could be visual representations of the creative impulse itself, of the Big Bang, in miniature, of the original origin, floating in space, suspended in time.</p>

<h3>About The Artist</h3>

<p>The word epochal describes a highly significant and influential moment in time, one capable of ushering in a new age. The void is a space without form. It exists between emptiness and content, a state of pure potential. The name Epochal Void comes from a dream. It is a relationship between time and space that does not identify with a particular gender, race, or socioeconomic class, and thus, may move freely, always in flux, constantly becoming. Epochal Void is a Portland-based visual artist, curator and director of Trust Art Collective, an organization that produces group art exhibitions and other events that engage emerging artists with each other and the surrounding community. Specializing in conceptual drawing, printmaking, mixed media art, paper sculpture, lettering and collage, EV creates bodies of work which explore concepts of impermanence, betweenness, as well as social & spiritual bondage. The process is, itself, a gesture of freedom, of liberation from the constraint of measurement, of definition, of expectation.</p>

<p><a href="">epochalvoid.com</a><br>
Follow @epochalvoid<br>
epochal.press@gmail.com<br></p>

{{artist-page-nav}}

{{outlet}}
